<div class="container mx-auto p-6 max-w-2xl">
    <form [formGroup]="form" >
        <div class="bg-white shadow-xl rounded-lg p-6">
            <h4 class="text-xl font-bold text-gray-900 tracking-tight mb-6">{{ isEditMode ? 'Edit Store' : 'Create Store'}}</h4>
            
            <div class="space-y-6">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    
                    <!-- Store Name -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 mb-1">Name <span class="text-red-500">*</span></label>
                        <input type="text" formControlName="name" placeholder="Enter store name" class="w-full px-4 py-2 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500" />
                        <p *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-red-500 text-xs mt-1">
                            Name is required
                        </p>
                    </div>

                    <!-- Location -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 mb-1">Location <span class="text-red-500">*</span></label>
                        <input type="text" formControlName="location" placeholder="Enter store location" class="w-full px-4 py-2 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500" />
                        <p *ngIf="form.get('location')?.invalid && form.get('location')?.touched" class="text-red-500 text-xs mt-1">
                            Location is required
                        </p>
                    </div>

                    <!-- Store Type -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 mb-1">Store Type <span class="text-red-500">*</span></label>
                        <select formControlName="storeType"
                            class="w-full px-4 py-2 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500">
                            <option value="" selected>Select Store Type</option>
                            <option *ngFor="let storeType of storeTypes" [value]="storeType">{{storeType}}</option>
                        </select>
                        <p *ngIf="form.get('storeType')?.invalid && form.get('storeType')?.touched" class="text-red-500 text-xs mt-1">
                            Store Type is required
                        </p>
                    </div>

                    <!-- Unit ID -->
                    <div>
                        <label class="block text-sm font-medium text-gray-600 mb-1">Unit ID <span class="text-red-500">*</span></label>
                        <select formControlName="unitId"
                            class="w-full px-4 py-2 text-sm border rounded-lg focus:ring-2 focus:ring-blue-500">
                            <option value="" selected>Select Unit ID</option>
                            <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
                        </select>
                        <p *ngIf="form.get('unitId')?.invalid && form.get('unitId')?.touched" class="text-red-500 text-xs mt-1">
                            Unit ID is required
                        </p>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="flex gap-4 mt-6">
                    <button type="submit"
                        [disabled]="form.invalid"
                        (click)="isEditMode ? updateStore() : createStore() "
                        class="px-6 py-2 bg-blue-600 text-white rounded-lg text-sm font-medium hover:bg-blue-700 transition">
                        {{ isEditMode ? 'Update' : 'Create' }}
                    </button>

                    <button type="button" (click)="close()"
                        class="px-6 py-2 border border-gray-300 text-gray-700 rounded-lg text-sm font-medium hover:bg-gray-100 transition">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
      </form>
    </div>